In [3]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv("./Data/On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2019_1.csv")
df.head()

/home/erez/shared_venv_3.7/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (48,69,76,77,84,85) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,Tail_Number,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
0,2019,1,1,4,5,2019-01-04,OO,20304,OO,N945SW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019,1,1,4,5,2019-01-04,OO,20304,OO,N932SW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019,1,1,4,5,2019-01-04,OO,20304,OO,N932SW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019,1,1,4,5,2019-01-04,OO,20304,OO,N916SW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019,1,1,4,5,2019-01-04,OO,20304,OO,N107SY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
div_info_cols = [col for col in df.columns if col.startswith('Div') and col != 'Diverted']
df.drop(div_info_cols, axis = 1, inplace = True)
df.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,Tail_Number,...,DistanceGroup,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,FirstDepTime,TotalAddGTime,LongestAddGTime,Unnamed: 109
0,2019,1,1,4,5,2019-01-04,OO,20304,OO,N945SW,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019,1,1,4,5,2019-01-04,OO,20304,OO,N932SW,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019,1,1,4,5,2019-01-04,OO,20304,OO,N932SW,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019,1,1,4,5,2019-01-04,OO,20304,OO,N916SW,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019,1,1,4,5,2019-01-04,OO,20304,OO,N107SY,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583985 entries, 0 to 583984
Data columns (total 65 columns):
Year                               583985 non-null int64
Quarter                            583985 non-null int64
Month                              583985 non-null int64
DayofMonth                         583985 non-null int64
DayOfWeek                          583985 non-null int64
FlightDate                         583985 non-null object
Reporting_Airline                  583985 non-null object
DOT_ID_Reporting_Airline           583985 non-null int64
IATA_CODE_Reporting_Airline        583985 non-null object
Tail_Number                        581442 non-null object
Flight_Number_Reporting_Airline    583985 non-null int64
OriginAirportID                    583985 non-null int64
OriginAirportSeqID                 583985 non-null int64
OriginCityMarketID                 583985 non-null int64
Origin                             583985 non-null object
OriginCityName                     583985 non-null object
OriginState                        583985 non-null object
OriginStateFips                    583985 non-null int64
OriginStateName                    583985 non-null object
OriginWac                          583985 non-null int64
DestAirportID                      583985 non-null int64
DestAirportSeqID                   583985 non-null int64
DestCityMarketID                   583985 non-null int64
Dest                               583985 non-null object
DestCityName                       583985 non-null object
DestState                          583985 non-null object
DestStateFips                      583985 non-null int64
DestStateName                      583985 non-null object
DestWac                            583985 non-null int64
CRSDepTime                         583985 non-null int64
DepTime                            567633 non-null float64
DepDelay                           567630 non-null float64
DepDelayMinutes                    567630 non-null float64
DepDel15                           567630 non-null float64
DepartureDelayGroups               567630 non-null float64
DepTimeBlk                         583985 non-null object
TaxiOut                            567369 non-null float64
WheelsOff                          567369 non-null float64
WheelsOn                           566924 non-null float64
TaxiIn                             566924 non-null float64
CRSArrTime                         583985 non-null int64
ArrTime                            566924 non-null float64
ArrDelay                           565963 non-null float64
ArrDelayMinutes                    565963 non-null float64
ArrDel15                           565963 non-null float64
ArrivalDelayGroups                 565963 non-null float64
ArrTimeBlk                         583985 non-null object
Cancelled                          583985 non-null float64
CancellationCode                   16726 non-null object
Diverted                           583985 non-null float64
CRSElapsedTime                     583851 non-null float64
ActualElapsedTime                  565963 non-null float64
AirTime                            565963 non-null float64
Flights                            583985 non-null float64
Distance                           583985 non-null float64
DistanceGroup                      583985 non-null int64
CarrierDelay                       105222 non-null float64
WeatherDelay                       105222 non-null float64
NASDelay                           105222 non-null float64
SecurityDelay                      105222 non-null float64
LateAircraftDelay                  105222 non-null float64
FirstDepTime                       3962 non-null float64
TotalAddGTime                      3962 non-null float64
LongestAddGTime                    3962 non-null float64
Unnamed: 109                       0 non-null float64
dtypes: float64(30), int64(20), object(15)
memory usage: 289.6+ MB

,Year,Quarter,Month,DayofMonth,DayOfWeek,DOT_ID_Reporting_Airline,Flight_Number_Reporting_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,...,DistanceGroup,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,FirstDepTime,TotalAddGTime,LongestAddGTime,Unnamed: 109
count,583985.0,583985.0,583985.0,583985.000000,583985.000000,583985.000000,583985.000000,583985.000000,5.839850e+05,583985.000000,...,583985.000000,105222.000000,105222.000000,105222.000000,105222.000000,105222.000000,3962.000000,3962.000000,3962.000000,0.0
mean,2019.0,1.0,1.0,15.960088,3.835626,19983.213168,2537.869334,12659.701982,1.265974e+06,31753.325344,...,3.664861,20.106080,4.428551,18.508392,0.079508,24.950590,1278.071933,37.506815,36.776628,NaN
std,0.0,0.0,0.0,8.987942,1.921899,377.724638,1821.736145,1519.405493,1.519403e+05,1298.582915,...,2.323890,65.762202,38.535323,41.726392,3.203342,50.851973,510.584001,31.837723,30.090092,NaN
min,2019.0,1.0,1.0,1.000000,1.000000,19393.000000,1.000000,10135.000000,1.013505e+06,30070.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,1.000000,1.000000,NaN
25%,2019.0,1.0,1.0,8.000000,2.000000,19790.000000,979.000000,11292.000000,1.129202e+06,30721.000000,...,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,824.000000,16.000000,16.000000,NaN
50%,2019.0,1.0,1.0,16.000000,4.000000,19977.000000,2114.000000,12889.000000,1.288903e+06,31453.000000,...,3.000000,0.000000,0.000000,5.000000,0.000000,0.000000,1228.000000,29.000000,28.000000,NaN
75%,2019.0,1.0,1.0,24.000000,5.000000,20368.000000,3902.000000,13931.000000,1.393102e+06,32467.000000,...,5.000000,16.000000,0.000000,21.000000,0.000000,29.000000,1719.000000,46.000000,46.000000,NaN
max,2019.0,1.0,1.0,31.000000,7.000000,20452.000000,7439.000000,16218.000000,1.621801e+06,35991.000000,...,11.000000,1638.000000,1416.000000,1447.000000,816.000000,1514.000000,2358.000000,297.000000,246.000000,NaN

In [11]:
df.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,Flight_Number_Reporting_Airline,...,CRSDepTime,DepTimeBlk,CRSArrTime,ArrTimeBlk,Cancelled,Diverted,Flights,Distance,DistanceGroup,DivAirportLandings
0,2019,1,1,4,5,2019-01-04,OO,20304,OO,5657,...,1400,1400-1459,1510,1500-1559,0.0,0.0,1.0,190.0,1,0
1,2019,1,1,4,5,2019-01-04,OO,20304,OO,5658,...,935,0900-0959,1118,1100-1159,0.0,0.0,1.0,438.0,2,0
2,2019,1,1,4,5,2019-01-04,OO,20304,OO,5658,...,643,0600-0659,855,0800-0859,0.0,0.0,1.0,513.0,3,0
3,2019,1,1,4,5,2019-01-04,OO,20304,OO,5659,...,1335,1300-1359,1433,1400-1459,0.0,0.0,1.0,576.0,3,0
4,2019,1,1,4,5,2019-01-04,OO,20304,OO,5660,...,836,0800-0859,1040,1000-1059,0.0,0.0,1.0,896.0,4,0